{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="container">
                <h3 class="text-center">Регистрация</h3>
                <form class="text-center" id="add_form" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="text-center btn btn-success  mt-3" type="submit" value="Зарегистрироватся">
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}